<ul class="list-group list-group-flush">
  <div class="container">
    <div class="row justify-content-md-center">
      <% @favorites.each do |favorite| %>
        <% court = Court.find_by(id: favorite.court_id)%>
        <div class="col-md-10 card-court test card-court-id-<%= court.id %>">
          <div class="card mb-10 shadow-sm">
            <div class="card-body">
              <span class="card-left">
                <p class="card-header">
                  <span class="card-title"><%= court.name %></span>
                  <% if @current_user %>
                    <span class="card-favorite-id-<%= court.id %>">
                      <% if Favorite.find_by(user_id: @current_user.id, court_id: court.id) %>
                        <%= render partial: "home/destroy_favorite", locals: {court: court} %>
                      <% else %>
                        <%= render partial: "home/create_favorite", locals: {court: court} %>
                      <% end %>
                    </span>
                  <% end %>
                </p>
                <%= render partial: "home/table", locals: {court: court} %>
                <span class="card-description">
                  <%= "最寄り駅：#{court.station}" %>
                </span>
                <span class="card-address">
                  <%= "#{court.address}" %>
                </span>
                <span class="card-non-residents">
                  <%= "#{court.ward}外の住人の利用：#{court.non_residents ? "可" : "不可"}" %>
                </span>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</ul>