<p id="notice"><%= notice %></p>

<div class="mx-auto" style="width: 200px;">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>
</div>

<div class="mx-auto" style="width: 200px;">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
</div>

<div class="mx-auto" style="width: 200px;">
  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>
</div>

<div class="mx-auto" style="width: 200px;">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>