<table class="table table-bordered table-week">
  <thead>
    <tr>
      <th>月</th>
      <th>火</th>
      <th>水</th>
      <th>木</th>
      <th>金</th>
      <th>土</th>
      <th>日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= "#{court.monday}" %></td>
      <td><%= "#{court.tuesday}" %></td>
      <td><%= "#{court.wednesday}" %></td>
      <td><%= "#{court.thursday}" %></td>
      <td><%= "#{court.friday}" %></td>
      <td><%= "#{court.saturday}" %></td>
      <td><%= "#{court.sunday}" %></td>
    </tr>
  </tbody>
</table>